@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #222;
    margin: 0;
}

a {
    color: #008cba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

h1 {
    font-size: 2rem;
}

h1 span {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 100;
    line-height: 1.2;
    margin: 20px 0;
}

h1 span,
h2 span,
h3 span,
h4 span {
    color: #888;
}

p,
ul {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #008cba;
    border: 1px solid #006f94;
    padding: 10px;
}

.btn:hover {
    background-color: #006f94;
    text-decoration: none;
}

.badge-list span,
.badge {
    display: inline-block;
    background-color: #5bc0de;
    color: #fff;
    padding: 2px 15px;
}

.badge-list {
    text-align: center;
}

.badge-list span {
    margin-bottom: 10px;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    border: 1px solid #eee;
    white-space: nowrap;
    padding: 0 20px;
    margin: 0 10px 10px 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #333;
    padding: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu {
    flex-basis: 100%;
}

#menu.collapsed {
    display: none;
}

#toggler {
    display: inline-block;
    line-height: 1;
    padding: 5px;
}

#toggler svg {
    width: 30px;
    height: 30px;
    fill: #eee;
}

#toggler:hover {
    opacity: 0.75;
}

nav a {
    display: block;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}

nav a:hover {
    opacity: 1;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    font-size: 0.8rem;
    opacity: 0.7;
}

.jumbotron {
    color: #eee;
    background-color: #495057;
    background-image: url('/images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #333;
    padding: 75px 0 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

.jumbotron img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #eee;
}

.jumbotron h1 {
    color: #fff;
    margin: 0;
}

.jumbotron h1 span {
    color: #ccc;
}

.jumbotron p {
    color: #fff;
    line-height: 1.8;
    font-size: 1.1rem;
}

.jumbotron a.icon {
    display: inline-block;
    line-height: 1;
    background-color: #333;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 20px;
    margin-right: 10px;
}

.jumbotron a.icon:hover {
    opacity: 0.75;
}

.jumbotron a.icon svg {
    width: 30px;
    height: 30px;
    fill: #eee;
}

nav,
footer,
section {
    margin: 0 20px;
}

@media (min-width: 576px) {
    nav,
    footer,
    section {
        margin: 0 auto;
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    nav,
    footer,
    section {
        margin: 0 auto;
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    nav {
        margin: 0 auto;
        max-width: 960px;
    }

    #toggler {
        display: none;
    }

    #menu,
    #menu.collapsed {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    #menu ul,
    #menu ul li {
        display: inline-block;
    }
}
