html {
    scroll-behavior: smooth;
}

.badge {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.card-deck {
    margin-bottom: 1rem;
}

.jumbotron {
    color: #fff;
    background-color: #444;
    border-bottom: 2px solid #333;
    padding: 5rem 4rem 2rem 4rem;
    margin-bottom: 2rem;
    background-image: url('/images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron img {
    width: 180px;
    height: 180px;
}

.jumbotron h1 small {
    color: #ccc !important;
}

.jumbotron a.icon {
    display: inline-block;
    background-color: #333;
    padding: 1.5rem;
}

.jumbotron a.icon:hover {
    opacity: 0.75;
}

.jumbotron a.icon svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}
