* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: solid 0.1rem #5bc0de;
    outline-offset: 0.1rem;
}

body {
    font-family:
        'Open Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    color: #eee;
    font-size: 2rem;
}

h1 small {
    color: #adb5bd;
    font-size: 1.6rem;
}

h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    border-bottom: solid 0.1rem #eee;
}

h3,
h4 {
    font-size: 1.1rem;
}

h3 small {
    color: #888;
    font-size: 0.9rem;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: #008cba;
    text-decoration: underline;
}

a:hover {
    color: #007095;
}

ul {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.button {
    display: inline-block;
    background-color: #008cba;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.button:hover,
.button:focus-visible {
    color: #fff;
    background-color: #00779e;
}

.header {
    background-color: #333;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 40rem;
    padding: 0.5rem 0;
}

.navbar__nav {
    display: flex;
    gap: 1rem;
}

.navbar__nav a {
    color: rgb(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 0.82rem;
    font-weight: 300;
}

.navbar__brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
}

.navbar__toggle {
    display: none;
    background-color: inherit;
    border: none;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__toggle svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.navbar__nav a:hover,
.navbar__nav a:focus-visible,
.navbar__brand:hover,
.navbar__brand:focus-visible,
.navbar__toggle:hover,
.navbar__toggle:focus-visible {
    color: #fff;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30rem;

    background-color: #333;
    background-image: url(/images/cover.jpg?v=1726043727547);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem 0;
    text-align: center;
}

.jumbotron img {
    display: inline-block;
    background-color: #dee2e6;
    border: solid 0.1rem #dee2e6;
    border-radius: 50%;
    padding: 0.25rem;
}

.jumbotron__lead {
    color: #eee;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.jumbotron__social {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.jumbotron__social a {
    color: #eee;
    text-decoration: none;
}

.jumbotron__social a:hover,
.jumbotron__social a:focus-visible {
    color: rgb(238, 238, 238, 0.7);
}

.jumbotron__social a svg {
    display: block;
    width: 2rem;
    height: 2rem;
}

.container {
    margin: 1rem auto;
    max-width: 40rem;
}

.section {
    margin-bottom: 1rem;
}

.section__sub-section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem #eee;
}

.section__sub-section:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.badge {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #5bc0de;
    padding: 0.5rem 1rem;
}

.card-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.card {
    flex: 1;
    padding: 1rem;
    border: solid 0.1rem #eee;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    .navbar {
        margin: 0 1rem;
        max-width: none;
    }

    .jumbotron {
        margin: 0 1rem;
        max-width: none;
    }

    .container {
        margin: 1rem;
        max-width: none;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .navbar {
        margin: 0 0.7rem;
    }

    .navbar__nav {
        display: none;
        flex-direction: column;
        flex-basis: 100%;
        gap: 0;
    }

    .navbar__nav.show {
        display: flex;
    }

    .navbar__nav a {
        padding: 0.7rem;
        margin-top: 0.2rem;
    }

    .navbar__nav a:hover,
    .navbar__nav a:focus-visible {
        background-color: #2e2e2e;
    }

    .navbar__toggle {
        display: initial;
    }

    .jumbotron {
        margin: 0 0.7rem;
    }

    .container {
        margin: 0.7rem;
    }

    .card-container {
        flex-direction: column;
    }
}
