@import 'tailwindcss';
@import '@fontsource-variable/inter';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        'Inter Variable', 'ui-sans-serif', 'system-ui', '-apple-system',
        'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans',
        'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}
