@import 'tailwindcss';
@import '@fontsource-variable/open-sans';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        'Open Sans Variable', 'ui-sans-serif', 'system-ui', '-apple-system',
        'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
        'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
